body {
    background: url(https://i.blogs.es/435cd5/lotus1/1366_2000.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.wrapper {
    text-align: center;
}

.heading2 {
    color: brown;
}

.heading1 {
color: rgb(114, 156, 114);
};

.mtg-result {
    display: flex;
    justify-content: center;
    align-items: center;
}